<h1>SIGN UP PAGE
  <br>
</h1><form action="/sign-up" method="POST">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" placeholder="Username" required />


  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" required/>
  <button>Sign Up</button>
  
</form>
