<h1>SIGN IN PAGE</h1>

<br>

<form action="/sign-in" method="POST">
   <label for="username">Username</label>
  <input type="text" id="username" name="username" placeholder="Username" required />
  
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" required />
  <button>Sign In</button>
</form>